<!DOCTYPE html>
<html data-ng-app="fit">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Assets -->
	<script src="js/assets/jquery.min.js"></script>
	<script src="js/assets/angular.min.js"></script>
	<script src="js/assets/angular-ui-router.min.js"></script>
	<script src="js/assets/bootstrap.min.js"></script>

	<!-- Application/config -->
	<script src="js/application.js"></script>

	<!-- Services -->
	<script src="js/services/data.service.js"></script>
	<script src="js/services/user.data.service.js"></script>
	<script src="js/services/exercise.data.service.js"></script>
	<script src="js/services/plan.data.service.js"></script>

	<!-- Controllers -->
	<script src="js/controllers/auth.controller.js"></script>
	<script src="js/controllers/nav.controller.js"></script>
	<script src="js/controllers/exercise.list.controller.js"></script>
	<script src="js/controllers/exercise.create.controller.js"></script>
	<script src="js/controllers/exercise.edit.controller.js"></script>
	<script src="js/controllers/plan.create.controller.js"></script>
	<script src="js/controllers/plan.list.controller.js"></script>
	<script src="js/controllers/plan.view.controller.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/custom.css">

	<title>{{currentStateTitle}}</title>
</head>
<body>

<div class="container">
	<!-- Page navigation -->
	<nav data-ng-controller="NavController" class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<span class="navbar-brand" href="#">FitApp</span>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul data-ng-show="isValid()" class="nav navbar-nav">
					<li data-ng-class="{'active': currentState.indexOf('exercise') > -1}">
						<a data-ui-sref="exercise.list">Exercises</a>
					</li>
					<li data-ng-class="{'active': currentState == 'plan.list'}">
						<a data-ui-sref="plan.list">Plans</a>
					</li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li class="active">
						<a data-ng-hide="isValid()" data-ui-sref="auth">Sign In</a>
					</li>
					<li>
						<a data-ng-show="isValid()" data-ng-click="signOut()">Sign Out</a>
					</li>
				</ul>

				<div data-ng-show="isValid()" class="nav navbar-right hidden-xs">
					<p class="navbar-text">Signed in as {{getUser().email}}</p>
				</div>
			</div>
		</div>
	</nav>

	<!-- Global success/error alerts -->
	<div class="row">
		<div class="col-xs-12">
			<div data-ng-show="alertSuccess.visible" id="alert_success" class="alert alert-success alert-dismissible">
				<button data-ng-click="alertSuccess.visible = false" type="button" class="close">
					<span>&times;</span>
				</button>
				<strong>{{alertSuccess.status}}: </strong>{{alertSuccess.message}}
			</div>

			<div data-ng-show="alertError.visible" id="alert_danger" class="alert alert-danger alert-dismissible" role="alert">
				<button data-ng-click="alertError.visible = false" type="button" class="close">
					<span>&times;</span>
				</button>
				<strong>{{alertError.status}}: </strong>{{alertError.message}}
			</div>
		</div>

		<!-- Partial view container -->
		<div class="col-xs-12" data-ui-view=""></div>
	</div>
</div>
</body>
</html>