<form name="exercise" class="form-horizontal" novalidate>
    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input id="username" name="username" type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">E-mail</label>
        <div class="col-sm-10">
            <input id="email" name="email" type="email" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-10">
            <input id="age" name="age" type="number" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="height" class="col-sm-2 control-label">Height</label>
        <div class="col-sm-10">
            <input id="height" name="height" type="number" class="form-control">
        </div>
    </div>
</form>

<div class="row">
    <div class="col-xs-6">
        <a data-ui-sref="^" class="btn btn-success btn-block">Save</a>
    </div>
    <div class="col-xs-6">
        <a data-ui-sref="^" class="btn btn-danger btn-block">Cancel</a>
    </div>
</div>