<form name="createExerciseForm" data-ng-submit="submit(createExerciseForm)" class="form-horizontal" novalidate>
	<fieldset data-ng-disabled="isSaving">
		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Exercise name</label>
			<div class="col-sm-10">
				<input data-ng-model="data.name" id="name" name="name" type="text" class="form-control" required>
			</div>
		</div>

		<div class="form-group">
			<label for="duration" class="col-sm-2 control-label">Duration</label>
			<div class="col-sm-10">
				<input data-ng-model="data.duration" id="duration" name="duration" type="number" class="form-control">
			</div>
		</div>

		<div class="form-group">
			<label for="equipment" class="col-sm-2 control-label">Equipment</label>
			<div class="col-sm-10">
				<select data-ng-model="data.equipment" id="equipment" name="equipment" class="form-control">
					<option>Option 1</option>
					<option>Option 2</option>
					<option>Option 3</option>
					<option>Option 4</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="burntQ" class="col-sm-2 control-label">Burnt calories</label>
			<div class="col-sm-10">
				<input data-ng-model="data.burntQ" id="burntQ" name="burntQ" type="number" class="form-control">
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<button type="submit" class="btn btn-success btn-block">Save</button>
			</div>
			<div class="col-xs-6">
				<a data-ui-sref="^.list" class="btn btn-danger btn-block">Cancel</a>
			</div>
		</div>
	</fieldset>
</form>

